<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
    <div>
        <p th:text="${member.name} + '님 반갑습니다'"></p>
        <h1>블로그</h1>
        <p>게시글 기능</p>
        <p>
            <a href="/posts/new">게시글 작성</a>
            <a href="/list">목록</a>
            <a href="/logout">로그아웃</a>
            <a href="/remove-user">회원 탈퇴</a>
            <a href="/edit-user">회원 수정</a>
            <a href="/user/list">회원 목록</a>
        </p>
    </div>
</div> <!-- /container -->
</body>
</html>