<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
    <div>
        <table>
            <thead>
            <tr>
                <th>작성글 목록</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="post : ${posts}">
                <td><a href="/" th:href="@{|/posts/${post.postNum}|}" th:text="${post.title}"></a></td>
            </tr>
            </tbody>
        </table>
        <table>
            <thead>
            <tr>
                <th>작성댓글 목록</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="comment : ${comments}">
                <td><a href="/" th:href="@{|/posts/${comment.post.postNum}|}" th:text="${comment.post.title} + ' | ' + ${comment.commentBody}"></a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div> <!-- /container -->
</body>
</html>